{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}
 {% block page_title %}Réinitialiser votre mot de passe{% endblock %} 
 {% block body %}

<!--begin::Main-->
<div class="d-flex flex-column flex-root">

    <!--begin::Login-->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid hero-section-video" id="kt_login">
        <!--begin::Aside-->
        <div class="d-flex flex-column flex-lg-row-auto w-lg-600px pt-15 pt-lg-0 prime ">
            <!--begin::Aside Top-->
            <!--begin::Aside-->
            <div class="d-flex flex-column flex-lg-row-auto w-lg-600px pt-15 pt-lg-0 login">
                <!--begin::Aside Top-->
                <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15 text-center">
                    <div class="hero-logo">
                        <img class="logo" src="assets/images/bricolage_logo_blanc.png" alt="logo">
                    </div>
                    <!-- /.col-lg-12 -->
                    <!-- /.row -->
                </div>
                <!--end::Aside Top-->
                <!--begin::Aside Bottom-->
                <div class="d-flex flex-row-fluid bgi-size-contain bgi-no-repeat bgi-position-y-bottom bgi-position-x-center min-h-350px"
                    style="background-image: url(assets/media/illustrations/lock.png)"></div>
                <!--end::Aside Bottom-->
            </div>
            <!--begin::Aside-->
        </div>
        <!--begin::Aside-->
        <!--begin::Content-->
        <div
            class="login-content flex-lg-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden py-20 px-10 p-lg-7 mx-auto mw-450px w-100">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column-fluid flex-center py-10">
                <!--begin::Password Reset Form-->
                <div class="form w-100" id="kt_login_password_reset_form">
                    {% for label, messages in app.flashes %} 
                        {% for message in messages %}
                            {% if label == 'success' %}
                            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            <span class="alert-inner--icon"><i class="fe fe-thumbs-up"></i></span> 
                            <span class="alert-inner--text"><strong>{{ label | title }} : </strong> {{ message | raw }}</span>
                            </div>
                            {% else %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <span class="alert-inner--icon"><i class="fe fe-thumbs-down"></i></span> 
                            <span class="alert-inner--text"><strong>{{ label | title }} : </strong> {{ message | raw }}</span>
                            </div>
                            {% endif %}
                        {% endfor %} 
                    {% endfor %}
                    <!--begin::Title-->
                    <div class="pb-5 pb-lg-10">
                        <h3 class="fw-bolder display-6">Réinitialiser mon mot de passe ?</h3>
                        <p class="text-muted fw-bold fs-3">Entrer votre email pour réinisialiser le mot de passe</p>
                    </div>
                    <!--end::Title-->
                    <!--begin::Form group-->
                    <div class="fv-row mb-10">
                        <label class="form-label fs-6 fw-bolder  pt-5">Email</label> 
                        {{form(form)}}
                        <a href="{{path('login')}}" type="button" id="kt_login_password_reset_form_cancel_button"
                            class="btn btn-light-primary fw-bolder fs-6 px-8 py-4 my-3">Annuler</a>
                    </div>
                    <!--end::Form group-->
                </div>
                <!--end::Password Reset Form-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Footer-->
            <div class="d-flex justify-content-lg-start justify-content-center align-items-center py-7 py-lg-0">
                <a href="https://unlock-technologies.fr" target="_blank" class="text-primary fw-bolder fs-4">Site
                    officiel</a>
                <a href="#" class="text-primary ms-10 fw-bolder fs-4">Contact</a>
            </div>
            <!--end::Footer-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Login-->
</div>
<!--end::Main-->

{% endblock %}