{# {% extends 'base.html.twig' %}
{% block header %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block title %}Reinitialisation du mot de passe!{% endblock %}

{% block body %}
<div class="row p-5">
        <div class="col-md-6 mx-auto p-5">
        <h2 class="text-center">Modifier votre mot de passe</h2>
            {{form(form)}}
        </div>
    </div>
{% endblock %} #}

 {% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}
{% block page_title %}Réinitialiser votre mot de passe{% endblock %} 
{% block body %}
 
 
 <!-- BACKGROUND-IMAGE -->
    <div class="login-img">

        <!-- PAGE -->
        <div class="page">
            <div class="">
                <!-- Theme-Layout -->

                <!-- CONTAINER OPEN -->
                <div class="col col-login mx-auto mt-7">
                    <div class="text-center">
                        <img src="../assets/images/brand/logo-white.png" class="header-brand-img m-0" alt="">
                    </div>
                </div>
                <div class="container-login100">
                    <div class="wrap-login100 p-6 row">
                        <span class="login100-form-title">
                                Change password
                            </span>
                            {{form_start(form)}}

                            <div class="wrap-input100 validate-input input-group">
                                <a href="#" class="input-group-text bg-white text-muted">
                                    <i class="mdi mdi-account" aria-hidden="true"></i>
                                </a>
                                
                                {{form_widget(form.firstname)}}
                            </div>

                            <div class="wrap-input100 validate-input input-group">
                                <a href="#" class="input-group-text bg-white text-muted">
                                    <i class="mdi mdi-account" aria-hidden="true"></i>
                                </a>
                                
                                {{form_widget(form.lastname)}}
                            </div>
 
                            <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                                <a href="#" class="input-group-text bg-white text-muted">
                                    <i class="zmdi zmdi-eye" aria-hidden="true"></i>
                                </a>
                                
                                {{form_widget(form.password.first)}}

                            </div>

                            <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                                <a href="#" class="input-group-text bg-white text-muted">
                                    <i class="zmdi zmdi-eye" aria-hidden="true"></i>
                                </a>
                                
                                {{form_widget(form.password.second)}}

                            </div>


                                <div class="container-login100-form-btn">
                                        {{form_widget(form.submit)}}
                                </div>
                            {{form_end(form)}}

                            <div class="text-center pt-3">
                                <p><a href="{{path('login')}}" class="text-dark mb-0">Annuler</a></p>
                            </div>
                        </div>
                </div>
                <!-- CONTAINER CLOSED -->
            </div>
        </div>
        <!-- END PAGE -->

    </div>
    <!-- BACKGROUND-IMAGE CLOSED -->

    {% endblock %}