{% extends "base.html.twig" %}

{% block body %}
<div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Profil</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('default')}}">Accueil</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Profil</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 OPEN -->
                        <div class="row" id="user-profile">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="wideget-user mb-2">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="row">
                                                        <div class="panel profile-cover">
                                                            <div class="profile-cover__action bg-img"></div>
                                                            <div class="profile-cover__img">
                                                                <div class="profile-img-1">
                                                                {% if user.picture %}
                                                                
                                                                    <img src="{{ asset('uploads/user/' ~ user.picture)}}" alt="image utilisateur">
                                                                    {% elseif user.sexe == 0 %}
                                                                    <img src="{{ asset('uploads/avatar/avatarMen.png')}}" alt="image utilisateur">
                                                                    {% elseif user.sexe == 1 %}
                                                                    <img src="{{ asset('uploads/avatar/avatarWomen.png')}}" alt="image utilisateur">
                                                                    {% endif %}
                                                                </div>
                                                                <div class="profile-img-content text-dark text-start">
                                                                    <div class="text-dark">
                                                                        <h3 class="h3 mb-2">{{user.fullname}}</h3>
                                                                        <h5 class="text-muted">{{user.role}}</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="btn-profile">
                                                                <button class="btn btn-primary mt-1 mb-1"> <i class="fa fa-rss"></i> <span>Follow</span></button>
                                                                <button class="btn btn-secondary mt-1 mb-1"> <i class="fa fa-envelope"></i> <span>Message</span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="">
                                                            <div class="social social-profile-buttons mt-5 float-end">
                                                                <div class="mt-3">
                                                                    <a class="social-icon text-primary" href=""><i class="fa fa-facebook"></i></a>
                                                                    <a class="social-icon text-primary" href=""><i class="fa fa-twitter"></i></a>
                                                                    <a class="social-icon text-primary" href=""><i class="fa fa-youtube"></i></a>
                                                                    <a class="social-icon text-primary" href=""><i class="fa fa-rss"></i></a>
                                                                    <a class="social-icon text-primary" href=""><i class="fa fa-linkedin"></i></a>
                                                                    <a class="social-icon text-primary" href=""><i class="fa fa-google-plus"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- ROW-1 CLOSED -->
                    </div>
                    <!-- CONTAINER CLOSED -->

                </div>
            </div>
{% endblock %}