{% extends 'base.html.twig' %}

{% block title %}
	Calendar_test
{% endblock %}

{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}


	<div
		class="tab-pane active" id="users">
		{#---------------------------------------------Modal-------------------------------------------- #}
		{% embed "components/modal.html.twig" %}
			{% set modalType = "modal-lg" %}
			{% set id = "calendarFomr" %}
			{% set buttonTitle = "Ajouter un utilisateur" %}
			{% block modalTitle %}Ajouter un evènement
			{% endblock %}
			{% block dashboard %}
				{% include "calendar/new.html.twig" %}
			{% endblock %}
		{% endembed %}
		{#--------------------------------------------Fin modal------------------------------------------- #}


	
	</div>

	{# --------------------------------------------------Calendar------------------------------------------ #}
	<div class="card-body">
		<div id='calendar2'></div>
	</div>
	{#-------------------------------------------------Fin Calendar-----------------------------------------#}

	{#----------------------------------------------- .Launch Modal info Button--------------------------------------#}

<!-- .modal -->
<div class="modal fade" id="Mysmallmodal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
                	Information
                </h4>                                                             
			</div> 
			<div class="modal-body">
				{% for calendar in calendar %}
				{{calendar.title}} {{calendar.teacherName}}
				{% endfor %}
			</div>   
		</div>                                                                       
	</div>                                      
</div>


{#-----------------------------------------------Fin Modal info Button------------------------------------------#}



	{# ---------------------------------------------------DELETE-------------------------------------------- #}
	{# {% for calendar in calendar %}
	<form method="post" action="{{ path('calendar_delete', {'id': calendar.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="position:fixed; top:30%; left:50%; background-color:lightGray; z-index:1000; color:black; display:none" id="delete" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
    <button class="btn btn-danger">Delete</button>
	</form>
	{% endfor %} #}
	{# -------------------------------------------------FIN DELETE-------------------------------------------#}

	{# <div id='popup' style='position:fixed; top:30%; left:50%; background-color:lightGray; z-index:1000; color:black; display: none; '>
	    <form name="teacherName" method='POST' action='' >
	    <label for="Teacher">Choose a Teacher:</label>
	       <select id="monTeacher">
	            {% for calendar in calendrier %}
	            <option>{{calendar.teacherName}}</option>
	            {% endfor %}
	       </select>
	        <button type='submit' name='valider' value='valider'>Valider</button>
	    </form>
	</div> #}


	<script>

		window.onload = () => {


	var calendarEl = document.getElementById('calendar2');

	var calendar = new FullCalendar.Calendar(calendarEl, {
	headerToolbar: {
	left: 'prev,next today',
	center: 'title',
	right: 'dayGridMonth,timeGridWeek,timeGridDay'
	},

	defaultView: 'month',
	navLinks: true, // can click day/week names to navigate views
	businessHours: true, // display business hours
	editable: true,
	selectable: true,
	selectMirror: true,
	droppable: true, // this allows things to be dropped onto the calendar
	select: function (arg) {

	$('#calendarFomr').modal('show');
	


	$(document).ready(function(){

		let donnee = {
				'start' : arg.start,
				'end' : arg.end,
			}
			$.ajax({
        type: 'GET',
        url: '/test2',
        data: {donnees: JSON.stringify(donnee)},
        dataType: 'donnees'            
    })

		$("#envoyerFormulaire").click(function(){

			var title = $("#title").val();
			var description = $("#description").val();
			var teacherName = $("#teacher").val();

			
			calendar.addEvent({

						title: title,
						start: arg.start,
						end: arg.end,
						allDay: arg.allDay,
						teacherName: teacherName,
						description: description

				})


			
			calendar.unselect()
		})

		
})


		
},
				eventClick: function (arg) {
				if (confirm('Are you sure you want to delete this event?')) {


					arg.event.remove()
				}

				
				},
				eventOverlap: function(stillEvent, movingEvent) {
    			return stillEvent.allDay && movingEvent.allDay;
  				},

				/*eventMouseEnter:function( mouseEnterInfo ) {

					$('#Mysmallmodal').modal('show');
				 },*/
				editable: true,
				dayMaxEvents: true, // allow "more" link when too many events
				events: [{% for calendar in calendar %}{
				id: '{{calendar.id}}',
				title:'{{ calendar.title }}',
				start: '{{ calendar.start |date('Y-m-d H:i:s') }}',
				end: '{{ calendar.end |date('Y-m-d H:i:s') }}',
				description: '{{ calendar.description }}',
				backgroundColor: '{{ calendar.backgroundColor }}'

				},{% endfor %}]

			
				})

				calendar.on('eventAdd', (e) => {
				let url = '/api/edit'
				let donnees = {
				"title": e.event.title,
				"start": e.event.start,
				"end": e.event.end,
				"description": e.event.extendedProps.description,
				"teacherName": e.event.extendedProps.teacherName,
				"teacherId": " ",
				"backgroundColor": '#0080ff'


				}


				let xhr = new XMLHttpRequest

				xhr.open("PUT", url, true)
				xhr.send(JSON.stringify(donnees))


				})


				calendar.render();

				calendar.on('eventChange', (e) => {
				let url = `/api/${e.event.id}/edit`
				let donnees = {
				"title": e.event.title,
				"start": e.event.start,
				"end": e.event.end,
				"description": e.event.extendedProps.description,
				"backgroundColor": e.event.backgroundColor


				}


				let xhr = new XMLHttpRequest

				xhr.open("PUT", url, true)
				xhr.send(JSON.stringify(donnees))



				})



				calendar.on('eventRemove', (e) => {
				let url = `/api/${e.event.id}/delete`
				let donnees = {
				"id": e.event.id
				}


				let xhr = new XMLHttpRequest

				xhr.open("PUT", url, true)
				xhr.send(JSON.stringify(donnees))


				});

		/*calendar.select( start, (e) => {
		let donnees = {
			"start": e.event.start,
			"end" : e.event.end
		}
		
			$.ajax({
        type: 'POST',
        url: '/test2',
        data: {json: JSON.stringify(donnees)},
        dataType: 'json'            
    })

	});*/

}
	</script>
{% endblock %}
