{% extends 'base.html.twig' %}

{% block title %}
Dashboard admin
{% endblock %}




{% block body %}

{# Page #}
<div class="page">
    <div class="page-main">
        {# app-content open #}
        <div class="main-content app-content mt-0">
            <div class="side-app">

                {# Container #}
                <div class="main-container container-fluid">

                    {# Header #}
                    <div class="page-header">
                        <h1 class="page-title">Administration</h1>
                        <div>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
                            </ol>
                        </div>
                    </div>
                    {# Fin header #}

                    Profil
                    <div class="row" id="user-profile">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="wideget-user mb-2">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="row">
                                                    <div class="panel profile-cover">
                                                        <div class="profile-cover__action bg-img"></div>
                                                        <div class="profile-cover__img">
                                                            <div class="profile-img-1">
                                                                <img src="../assets/images/users/21.jpg" alt="img">
                                                            </div>
                                                            <div class="profile-img-content text-dark text-start">
                                                                <div class="text-dark">
                                                                    <h3 class="h3 mb-2">Prenom et nom</h3> {# TODO:
                                                                    Inserer le nom et le prenom #}
                                                                    <h5 class="text-muted">Role</h5> {# TODO: Inserer le
                                                                    role #}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="">
                                                        <div class="social social-profile-buttons mt-5 float-end">
                                                            <div class="mt-3">
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-facebook"></i></a>
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-twitter"></i></a>
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-youtube"></i></a>
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-rss"></i></a>
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-linkedin"></i></a>
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-google-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Fin profil #}

                            {# Calendrier #}
                            <div class="">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="cal1"></div>
                                    </div>
                                </div>
                            </div>
                            {# Fin calendrier #}


                        {# Utilisateurs #}
                        <div class="row row-sm">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Basic Datatable</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered text-nowrap border-bottom"
                                                id="basic-datatable">
                                                <thead>
                                                    <tr>
                                                        <th class="wd-15p border-bottom-0">Prénom</th>
                                                        <th class="wd-15p border-bottom-0">Nom</th>
                                                        <th class="wd-20p border-bottom-0">Role</th>
                                                        <th class="wd-15p border-bottom-0">Numéro</th>
                                                        <th class="wd-10p border-bottom-0">Email</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for user in users %}
                                                    <tr>
                                                        <td>{{ user.firstname }}</td>
                                                        <td>{{ user.lastname }}</td>
                                                        <td>{{ user.role }}</td>
                                                        <td>{{ user.phone }}</td>
                                                        <td>{{ user.email }}</td>
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# Fin utilisateurs #}


                        {# AJOUTER LES WIDGETS #}

                       

                    </div>
                    {# Fin container #}
                </div>
            </div>
            {# Fin app-content #}



                    {% endblock %}