{% extends 'base.html.twig' %}

{% block title %}
Dashboard admin
{% endblock %}


{% block body %}

{# Page #}
<div class="page">
    <div class="page-main">
        {# app-content open #}
        <div class="main-content app-content mt-0">
            <div class="side-app">

                {# Container #}
                <div class="main-container container-fluid">
                 <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Etudiants</h6>
                                                        <h2 class="mb-0 number-font">{{ students | length }}</h2>
                                                        <div class="d-flex">
                                                            <div>
                                                                <h6 class="me-4">Homme</h6>
                                                                
                                                                <h4 class="mb-0 number-font">{{ studentsMan | length }}</h4>
                                                            </div>
                                                            <div>
                                                                <h6 class="me-4">Femme</h6>
                                                                <h4 class="mb-0 number-font">{{ studentsWoman | length }}</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="saleschart" class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-13"><i class="fa fa-users  text-secondary"></i><a href="" class="text-secondary">Voir tous les étudiants</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Formateurs</h6>
                                                        <h2 class="mb-0 number-font">{{ teachers | length }} </h2>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="leadschart" class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-13"><i class="fa fa-user text-pink"></i><a href="" class="text-pink">Voir tous les formateurs</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Administrateurs</h6>
                                                        <h2 class="mb-0 number-font">{{ admins | length }}</h2>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="profitchart" class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-13"><i class="fa fa-user text-green"></i><a href="" class="text-green">Voir tous les admins</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
                                        <div class="card overflow-hidden">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="mt-2">
                                                        <h6 class="">Sessions</h6>
                                                        <h2 class="mb-0 number-font">{{ sessions | length }}</h2>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <div class="chart-wrapper mt-1">
                                                            <canvas id="costchart" class="h-8 w-9 chart-dropshadow"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="text-muted fs-13"><i class="fa fa-address-card text-cyan"></i><a href="" class="text-cyan">Voir toutes les sessions</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {# Header #}
                    <div class="page-header">
                        <h1 class="page-title">Administration</h1>
                        <div>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
                            </ol>
                        </div>
                    </div>
                    {# Fin header #}

                    Profil
                    <div class="row" id="user-profile">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="wideget-user mb-2">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="row">
                                                    <div class="panel profile-cover">
                                                        <div class="profile-cover__action bg-img" >
                                                        </div>
                                                        <div class="profile-cover__img">
                                                            <div class="profile-img-1">
                                                                <img style="height:100px;width:100px;" src="{{ asset('uploads/user/' ~ app.user.picture)}}" alt="img">
                                                            </div>
                                                            <div class="profile-img-content text-dark text-start">
                                                                <div class="text-dark">
                                                                    <h3 class="h3 mb-2">{{app.user.firstname ~ ' ' ~ app.user.lastname}}</h3>
                                                                    <h5 class="text-muted">{{app.user.role}}</h5>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="">
                                                        <div class="social social-profile-buttons mt-5 float-end">
                                                            <div class="mt-3">
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-facebook"></i></a>
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-twitter"></i></a>
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-youtube"></i></a>
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-rss"></i></a>
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-linkedin"></i></a>
                                                                <a class="social-icon text-primary" href=""><i
                                                                        class="fa fa-google-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Fin profil #}

                            {# Calendrier #}
                            <div class="">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="cal1"></div>
                                    </div>
                                </div>
                            </div>
                            {# Fin calendrier #}


                        {# Utilisateurs #}
                        <div class="row row-sm">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Basic Datatable</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered text-nowrap border-bottom"
                                                id="basic-datatable">
                                                <thead>
                                                    <tr>
                                                        <th class="wd-15p border-bottom-0">Photo</th>
                                                        <th class="wd-15p border-bottom-0">Prénom</th>
                                                        <th class="wd-15p border-bottom-0">Nom</th>
                                                        <th class="wd-20p border-bottom-0">Role</th>
                                                        <th class="wd-10p border-bottom-0">Email</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for user in users %}
                                                    <tr>
                                                        <td><img style="height:100px;width:100px;" src="{{ asset('uploads/user/' ~ user.picture)}}" alt=""></td>
                                                        <td>{{ user.firstname }}</td>
                                                        <td>{{ user.lastname }}</td>
                                                        <td>{{ user.role }}</td>
                                                        <td>{{ user.email }}</td>
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# Fin utilisateurs #}
                    <div class="row">       
                        <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Bar Chart1</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-container">
                                            <canvas id="chartBar1" class="h-250"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Donut Chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-donut" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      
                        {# AJOUTER LES WIDGETS #}

                       

                    
                    {# Fin container #}
                </div>
            </div>
            {# Fin app-content #}



                    {% endblock %}