{% extends 'layout.html.twig' %}

{% block title %}
Dashboard
{% endblock %}

{% block page_title %}
Dashboard
{% endblock %}


{% block final_stylesheets %}

{% endblock %}


{% block final_javascripts %}

<script>
    $(function () {
        var ctx = document.getElementById('chartLine');

        var stars = [{% for data in stats.totalAverageByMonth %}{{ data.total | number_format(1, '.', ',') }}, {% endfor %}];
    var frameworks = [{% for data in stats.totalAverageByMonth %}"{{ data.0.createdAt| date("M") }}", {% endfor %}];

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: frameworks,
            datasets: [{
                label: 'Moyenne par mois',
                data: stars,
                backgroundColor: 'rgba(32, 212, 137, 0.596)',
                borderColor: 'rgba(0, 0, 255, 0.431)',
            }]
        },
    })
    });

    var data = {
        labels: [{% for data in stats.totalAverageByCategory %}"{{ data.0.category.name }}", {% endfor %}],
    datasets: [
        {
            label: "Niveaux",
            backgroundColor: "#20d489",
            borderColor: "#20d489",
            pointBackgroundColor: "#f1bd00c0",
            pointBorderColor: "#f1bd00c0",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "#f1bd00c0",
            data: [{% for data in stats.totalAverageByCategory %}{{ data.total | number_format(1, '.', ',') }}, {% endfor %}]
           }
       ]
   };
    var ctx = document.getElementById("radarChart");

    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: {
            scale: {
                ticks: {
                    display: false,
                    beginAtZero: true,
                }
            },
        }
    });
    var KTWidgets = function () { var t = function (t, e, a, o, s) { var i = document.querySelector(e), r = parseInt(KTUtil.css(i, "height")); if (i) { var l = { series: [{ name: "Moyenne", data: [{% for data in stats.totalAverageByCategory %}{{ data.total | number_format(1, '.', ',') }}, {% endfor %}] }, { name: "Moyenne classe", data: [{% for data in stats.totalAverageByClassRoom %}{{ data.total  | number_format(1, '.', ',') }}, {% endfor %}] } ], chart: { fontFamily: "inherit", type: "bar", height: r, toolbar: { show: !1 } }, plotOptions: { bar: { horizontal: !1, columnWidth: ["40%"], endingShape: "rounded" } }, legend: { show: !1 }, dataLabels: { enabled: !1 }, stroke: { show: !0, width: 2, colors: ["transparent"] }, xaxis: { categories: [{% for data in stats.totalAverageByCategory %} "{{ data.0.category.name }}", {% endfor %}], axisBorder: { show: !1 }, axisTicks: { show: !1 }, labels: { style: { colors: KTUtil.getCssVariableValue("--bs-gray-700"), fontSize: "12px" } } }, yaxis: { labels: { style: { colors: KTUtil.getCssVariableValue("--bs-gray-700"), fontSize: "12px" } } }, fill: { opacity: 1 }, states: { normal: { filter: { type: "none", value: 0 } }, hover: { filter: { type: "none", value: 0 } }, active: { allowMultipleDataPointsSelection: !1, filter: { type: "none", value: 0 } } }, tooltip: { style: { fontSize: "12px" }, y: { formatter: function (t) { return t } } }, colors: [KTUtil.getCssVariableValue("--bs-primary"), KTUtil.getCssVariableValue("--bs-light-primary")], grid: { borderColor: KTUtil.getCssVariableValue("--bs-gray-200"), strokeDashArray: 4, yaxis: { lines: { show: !0 } } } }, n = new ApexCharts(i, l), d = !1, c = document.querySelector(t); !0 === s && (n.render(), d = !0), c.addEventListener("shown.bs.tab", (function (t) { 0 == d && (n.render(), d = !0) })) } }; return { init: function () { var e; !function () { var t = document.querySelector("#kt_stats_widget_1_chart"); if (t) { var e = KTUtil.getCssVariableValue("--bs-gray-200"), a = KTUtil.getCssVariableValue("--bs-gray-800"), o = { type: "pie", data: { datasets: [{ data: [{% for data in stats.totalAverageByCategory %}{{ data.total }}, {% endfor %}], backgroundColor: [KTUtil.getCssVariableValue("--bs-success"), KTUtil.getCssVariableValue("--bs-warning"), KTUtil.getCssVariableValue("--bs-primary")] }], labels: false }, options: { chart: { fontFamily: "inherit" }, cutout: "85%", cutoutPercentage: 75, responsive: !0, maintainAspectRatio: !1, title: { display: !1, text: "Technology" }, animation: { animateScale: !0, animateRotate: !0 }, tooltips: { enabled: !0, intersect: !1, mode: "nearest", bodySpacing: 5, yPadding: 10, xPadding: 10, caretPadding: 0, displayColors: !1, backgroundColor: e, bodyFontColor: a, cornerRadius: 4, footerSpacing: 0, titleSpacing: 0 }, plugins: { legend: { display: !1 } } } }, s = t.getContext("2d"); new Chart(s, o) } }(), t("#kt_stats_widget_2_tab_1", "#kt_stats_widget_2_chart_1", [44, 55, 57, 56, 61, 58], [76, 85, 101, 98, 87, 105], !0), t("#kt_stats_widget_2_tab_2", "#kt_stats_widget_2_chart_2", [35, 60, 35, 50, 45, 30], [65, 80, 50, 80, 75, 105], !1), t("#kt_stats_widget_2_tab_3", "#kt_stats_widget_2_chart_3", [25, 40, 45, 50, 40, 60], [76, 85, 101, 98, 87, 105], !1), t("#kt_stats_widget_2_tab_4", "#kt_stats_widget_2_chart_4", [50, 35, 45, 55, 30, 40], [76, 85, 101, 98, 87, 105], !1), function () { var t = document.querySelector("#kt_mixed_widget_1_chart"), e = parseInt(KTUtil.css(t, "height")); if (t) { var a = { series: [{ name: "Net Profit", data: [30, 30, 43, 43, 34, 34, 26, 26, 47, 47] }], chart: { fontFamily: "inherit", type: "area", height: e, toolbar: { show: !1 }, zoom: { enabled: !1 }, sparkline: { enabled: !0 } }, plotOptions: {}, legend: { show: !1 }, dataLabels: { enabled: !1 }, fill: { type: "solid", opacity: 1 }, stroke: { curve: "smooth", show: !0, width: 3, colors: ["#20D489", ""] }, xaxis: { categories: ["Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov"], axisBorder: { show: !1 }, axisTicks: { show: !1 }, labels: { show: !1, style: { colors: "#A1A5B7", fontSize: "12px" } }, crosshairs: { show: !1, position: "front", stroke: { color: KTUtil.getCssVariableValue("--bs-primary"), width: 1, dashArray: 3 } }, tooltip: { enabled: !0, formatter: void 0, offsetY: 0, style: { fontSize: "12px" } } }, yaxis: { min: 0, max: 60, labels: { show: !1, style: { colors: "#A1A5B7", fontSize: "12px" } } }, states: { normal: { filter: { type: "none", value: 0 } }, hover: { filter: { type: "none", value: 0 } }, active: { allowMultipleDataPointsSelection: !1, filter: { type: "none", value: 0 } } }, tooltip: { style: { fontSize: "12px" }, y: { formatter: function (t) { return "$" + t + " thousands" } } }, fill: { type: "gradient", gradient: { shadeIntensity: 1, opacityFrom: .7, opacityTo: .6, stops: [0, 100] } }, colors: [KTUtil.getCssVariableValue("--bs-primary")], markers: { colors: [KTUtil.getCssVariableValue("--bs-light-primary")], strokeColor: [KTUtil.getCssVariableValue("--bs-primary")], strokeWidth: 3 } }; new ApexCharts(t, a).render() } }(), function () { var t = document.querySelector("#kt_mixed_widget_2_chart"), e = parseInt(KTUtil.css(t, "height")); if (t) { var a = { series: [{ name: "Net Profit", data: [30, 30, 43, 43, 34, 34, 26, 26, 47, 47] }], chart: { fontFamily: "inherit", type: "area", height: e, toolbar: { show: !1 }, zoom: { enabled: !1 }, sparkline: { enabled: !0 } }, plotOptions: {}, legend: { show: !1 }, dataLabels: { enabled: !1 }, fill: { type: "solid", opacity: 1 }, stroke: { curve: "smooth", show: !0, width: 3, colors: [KTUtil.getCssVariableValue("--bs-info")] }, xaxis: { categories: ["Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov"], axisBorder: { show: !1 }, axisTicks: { show: !1 }, labels: { show: !1, style: { colors: "#A1A5B7", fontSize: "12px" } }, crosshairs: { show: !1, position: "front", stroke: { color: "#E4E6EF", width: 1, dashArray: 3 } }, tooltip: { enabled: !0, formatter: void 0, offsetY: 0, style: { fontSize: "12px" } } }, yaxis: { labels: { show: !1, style: { colors: "#A1A5B7", fontSize: "12px" } } }, states: { normal: { filter: { type: "none", value: 0 } }, hover: { filter: { type: "none", value: 0 } }, active: { allowMultipleDataPointsSelection: !1, filter: { type: "none", value: 0 } } }, tooltip: { style: { fontSize: "12px" }, y: { formatter: function (t) { return "$" + t + " thousands" } } }, fill: { type: "gradient", gradient: { shadeIntensity: 1, opacityFrom: .7, opacityTo: .6, stops: [0, 100] } }, colors: [KTUtil.getCssVariableValue("--bs-info")], markers: { colors: [KTUtil.getCssVariableValue("--bs-light-info")], strokeColor: [KTUtil.getCssVariableValue("--bs-info")], strokeWidth: 3 } }; new ApexCharts(t, a).render() } }(), (e = document.querySelector("#kt_forms_widget_1_form")) && e && new Quill("#kt_forms_widget_1_editor", { modules: { toolbar: { container: "#kt_forms_widget_1_editor_toolbar" } }, placeholder: "What is on your mind ?", theme: "snow" }) } } }(); KTUtil.onDOMContentLoaded((function () { KTWidgets.init() }));
</script>

{% endblock %}

{% block content %}

<section class="student-dashboard">
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->
                {% include 'components/_main-header.html.twig' %}
                <!--end::Header-->
                <!--begin::Main-->
                <div class="d-flex flex-column flex-column-fluid">
                    <!--begin::Content-->
                    <div class="content fs-6 d-flex flex-column-fluid" id="kt_content">
                        <!--begin::Container-->
                        <div class="container">
                            <!--begin::Row-->
                            <div class="row g-0 g-xl-5 g-xxl-8">
                                <div class="col-xl-4">
                                    <!--begin::Engage Widget 5-->
                                    <div class="card card-stretch card-stretch-head  mb-5 mb-xxl-8">
                                        <!--begin::Body-->
                                        <div class="card-body pb-0 prime">
                                            <svg id="svg2"  style="margin-left:0%; margin-top:40%; z-index:0; position:absolute;">
                                                <g id="linegroup" style="stroke-opacity: 0.7; stroke: rgb(26, 26, 131); stroke-width: 2;" >
                                                  <line id="line"  x1="120" y1="80" x2="116" y2="115" />
                                                  <line id="line1" x1="200" y1="65" x2="196" y2="100"/>
                                                  <line id="line2" x1="160" y1="50" x2="156" y2="85"/>
                                                  </g>
                                                  <g id="str" fill="white"  >
                                                 <circle cx="160" cy="70" r="46"  />
                                                    <circle cx="120" cy="90" r="40"  />
                                                    <circle cx="210" cy="93" r="37"  />
                                                    <rect x="120" y="100" width="90" height="30" />
                                                  </g>
                                                  <polygon id="lightning" points=" 140,130 80,200 120,180 30,300 160,160 130,167 160,130" fill="yellow" style="opacity:0;"/>
                                                  
                                                  
                                                  <animate xlink:href="#str" attributeName="fill" dur="1300ms" to="grey" begin="click" fill="freeze"  id="el" />
                                                    <animate xlink:href="#str" attributeName="fill" dur="1200ms" to="white" begin="el.begin + 2950ms" fill="freeze" id="elo" />
                                                  
                                                  <animate xlink:href="#line" attributeName="y1" dur="1200ms" to="465" begin="el.begin+1300ms" fill="freeze" id="li" />
                                                  <animate xlink:href="#line1" attributeName="y1" dur="1200ms" to="465" begin="el.begin+1300ms " fill="freeze" id="li" />
                                                  <animate xlink:href="#line2" attributeName="y1" dur="1200ms" to="465" begin="el.begin + 1300ms " fill="freeze" id="li" />
                                                  <animate xlink:href="#line" attributeName="y2" dur="1200ms" to="500" begin="el.begin + 1300ms " fill="freeze" id="li" />
                                                  <animate xlink:href="#line1" attributeName="y2" dur="1200ms" to="500" begin="el.begin + 1300ms " fill="freeze" id="li" />
                                                  <animate xlink:href="#line2" attributeName="y2" dur="1200ms" to="500" begin="el.begin + 1300ms " fill="freeze" id="li" />
                                                  <animate xlink:href="#line" attributeName="x1" dur="1200ms" to="100" begin="el.begin + 1300ms " fill="freeze" id="li" />
                                                  <animate xlink:href="#line" attributeName="x2" dur="1200ms" to="96" begin="el.begin + 1300ms " fill="freeze" id="li" />
                                                  <animate xlink:href="#line1" attributeName="x1" dur="1200ms" to="180" begin="el.begin + 1300ms " fill="freeze" id="li" />
                                                  <animate xlink:href="#line1" attributeName="x2" dur="1200ms" to="176" begin="el.begin + 1300ms " fill="freeze" id="li" />
                                                  <animate xlink:href="#line2" attributeName="x1" dur="1200ms" to="140" begin="el.begin + 1300ms " fill="freeze" id="li" />
                                                  <animate xlink:href="#line2" attributeName="x2" dur="1200ms" to="136" begin="el.begin + 1300ms " fill="freeze" id="li" />
                                                  
                                                  <animate xlink:href="#linegroup" attributeName="opacity" attributeType="CSS" from="1" to="0" dur="1200ms"  begin="el.begin + 1300ms " fill="freeze" id="" />
                                                  
                                                  <animate xlink:href="#lightning" attributeName="opacity" attributeType="CSS" from="0" to="1" dur="100ms"  begin="el.begin + 1000ms " fill="freeze" id="light" />
                                                  <animate xlink:href="#lightning" attributeName="opacity" attributeType="CSS"  to="0" dur="100ms"  begin="light.begin + 100ms " fill="freeze" id="ligh" />
                                                </svg>
                                            <!--begin::Wrapper-->
                                            <div class="d-flex flex-column h-100">
                                               
                                                <!--begin::Text-->
                                                <h3 class="text-dark text-center fs-1 fw-bolder pt-15 lh-lg">Hello !
                                                    <br />{{app.user.fullname}}
                                                </h3>
                                                <!--end::Text-->
                                                <!--begin::Image-->
                                                <!-- main codes start -->
                                                <div class="signboard outer calendarStudent"
                                                    style="top: -23%; ">
                                                    <div class="signboard front inner anim04c">
                                                        <li class="year anim04c">
                                                            <span></span>
                                                        </li>
                                                        <ul class="calendarMain anim04c">
                                                            <li class="day anim04c">
                                                                <span></span>
                                                            </li>
                                                            
                                                            <li class="date anim04c">
                                                                <span></span>
                                                            </li>
                                                            <li class="month anim04c">
                                                                <span></span>
                                                            </li>
                                                        </ul>
                                                        <li class="clock minute anim04c">
                                                            <span></span>
                                                        </li>
                                                        <li class="calendarNormal date2 anim04c">
                                                            <span></span>
                                                        </li>
                                                    </div>
                                                    <div class="signboard left inner anim04c">
                                                        <li class="clock hour anim04c">
                                                            <span></span>
                                                        </li>
                                                        <li class="calendarNormal day2 anim04c">
                                                            <span></span>
                                                        </li>
                                                    </div>
                                                    <div class="signboard right inner anim04c">
                                                        <li class="clock second anim04c">
                                                            <span></span>
                                                        </li>
                                                        <li class="calendarNormal month2 anim04c">
                                                            <span></span>
                                                        </li>
                                                    </div>
                                                </div>
                                                <!-- main codes end -->
                                                <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom h-200px"
                                                    style="background-image:url('assets/media/illustrations/teacher3.png')">
                                                </div>
                                                <!--end::Image-->
                                            </div>
                                            <!--end::Wrapper-->
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Engage Widget 5-->
                                </div>
                                <div class="col-xl-8">
                                    <!--begin::Table Widget 1-->
                                    <div class="card card-stretch  mb-5 mb-xxl-8">

                                        <!--begin::Header-->
                                        <div class="card-header border-0 pt-5">
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="card-label fw-bolder text-dark fs-3">Planning et
                                                    competences</span>
                                                <span class="text-muted mt-2 fw-bold fs-6">Graphiques variable</span>
                                            </h3>
                                            <div class="card-toolbar">
                                                <ul class="nav nav-pills nav-pills-sm nav-light">
                                                    <li class="nav-item">
                                                        <a class="nav-link btn btn-active-light btn-color-muted py-2 px-4 active fw-bolder me-2"
                                                            data-bs-toggle="tab" href="#kt_tab_pane_1_1">Planning</a>
                                                    </li>
                                                    <li class="nav-item" class="menu-link px-3" data-bs-toggle="tooltip"
                                                        title="Représentation de votre niveau selon les différentes matières">
                                                        <a class="nav-link btn btn-active-light btn-color-muted py-2 px-4 fw-bolder me-2"
                                                            data-bs-toggle="tab" href="#kt_tab_pane_1_2">Radar de
                                                            compétences</a>
                                                    </li>
                                                    <li class="nav-item" class="nav-item" class="menu-link px-3"
                                                        data-bs-toggle="tooltip"
                                                        title="Moyenne selon les différentes matières">
                                                        <a class="nav-link btn btn-active-light btn-color-muted py-2 px-4 fw-bolder"
                                                            data-bs-toggle="tab" href="#kt_tab_pane_1_4"> Bar de
                                                            compétences</a>
                                                    </li>
                                                    <li class="nav-item" class="nav-item" class="menu-link px-3"
                                                        data-bs-toggle="tooltip"
                                                        title="Représentation de votre moyenne general par mois">
                                                        <a class="nav-link btn btn-active-light btn-color-muted py-2 px-4 fw-bolder"
                                                            data-bs-toggle="tab" href="#kt_tab_pane_1_3">Courbe
                                                            mensuel</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--end::Header-->
                                        <!--begin::Body-->
                                        <div class="card-info card-body card-stretch-center pt-2 pb-0 mt-n3 ">
                                            <div class="tab-content mt-5" id="myTabTables1">
                                                <!--begin::Tap pane-->
                                                <div class="tab-pane fade show active" id="kt_tab_pane_1_1"
                                                    role="tabpanel" aria-labelledby="kt_tab_pane_1_1">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table class="table table-borderless align-middle">
                                                            <thead>
                                                                <tr>
                                                                    <th class="p-0 w-50px"></th>
                                                                    <th class="p-0 min-w-200px"></th>
                                                                    <th class="p-0 min-w-100px"></th>
                                                                    <th class="p-0 min-w-40px"></th>
                                                                </tr>
                                                            </thead>
                                                            {{
                                                            render(controller('App\\Controller\\CourseController::calendar'))
                                                            }}
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Tap pane-->
                                                <!--begin::Tap pane-->
                                                <div class="tab-pane fade" id="kt_tab_pane_1_2" role="tabpanel"
                                                    aria-labelledby="kt_tab_pane_1_2">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table class="table table-borderless align-middle">
                                                            <thead>
                                                                <tr>
                                                                    <th class="p-0 w-50px"></th>
                                                                    <th class="p-0 min-w-200px"></th>
                                                                    <th class="p-0 min-w-100px"></th>
                                                                    <th class="p-0 min-w-40px"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <div class=" mt-5 col-md-7 mx-auto">
                                                                    <canvas id="radarChart" height="350"></canvas>
                                                                </div>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Tap pane-->
                                                <!--begin::Tap pane-->
                                                <div class="tab-pane fade" id="kt_tab_pane_1_3" role="tabpanel"
                                                    aria-labelledby="kt_tab_pane_1_3">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table class="table table-borderless align-middle">
                                                            <thead>
                                                                <tr>
                                                                    <th class="p-0 w-50px"></th>
                                                                    <th class="p-0 min-w-200px"></th>
                                                                    <th class="p-0 min-w-100px"></th>
                                                                    <th class="p-0 min-w-40px"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                <div>
                                                                    <canvas id="chartLine"
                                                                        class="chart-dropshadow2 ht-350"></canvas>
                                                                </div>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Tap pane-->
                                                <!--begin::Tap pane-->
                                                <div class="tab-pane fade" id="kt_tab_pane_1_4" role="tabpanel"
                                                    aria-labelledby="kt_tab_pane_1_4">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table class="table table-borderless align-middle">
                                                            <thead>
                                                                <tr>
                                                                    <th class="p-0 w-50px"></th>
                                                                    <th class="p-0 min-w-200px"></th>
                                                                    <th class="p-0 min-w-100px"></th>
                                                                    <th class="p-0 min-w-40px"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for rating in stats.totalAverageByCategory %}
                                                                <tr>
                                                                    <th class="px-0 py-3">
                                                                        <div class="symbol symbol-65px me-5">
                                                                            <span class="symbol-label bg-light-success">
                                                                                <!--begin::Svg Icon | path: icons/duotone/Communication/Group-chat.svg-->
                                                                                <span
                                                                                    class="svg-icon svg-icon-1 svg-icon-primary">
                                                                                    <img style="width:40px;"
                                                                                        src=" {{ asset('uploads/technoPic/' ~ rating.0.category.picture )}}"
                                                                                        alt="">
                                                                                </span>
                                                                                <!--end::Svg Icon-->
                                                                            </span>
                                                                        </div>
                                                                    </th>
                                                                    <td class="ps-0">
                                                                        <a href="#"
                                                                            class="text-gray-800 fw-bolder text-hover-primary fs-6">{{
                                                                            rating.total| number_format(1, '.', ',')
                                                                            }} /20</a>
                                                                        <span
                                                                            class="text-muted fw-bold d-block mt-1">{{rating.0.category.name}}</span>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex flex-column w-100 me-3">
                                                                            <div class="d-flex flex-stack mb-2">
                                                                                <span
                                                                                    class="text-dark me-2 fs-6 fw-bolder">Progress</span>
                                                                            </div>
                                                                            <div class="d-flex align-items-center">
                                                                                <div
                                                                                    class="progress h-6px w-100 bg-light-primary">
                                                                                    <div class="progress-bar bg-primary"
                                                                                        role="progressbar"
                                                                                        style="width:{{ rating.total * 5 | number_format(1, '.', ',') }}%;"
                                                                                        aria-valuenow="50"
                                                                                        aria-valuemin="0"
                                                                                        aria-valuemax="100"></div>
                                                                                </div>
                                                                                <span
                                                                                    class="text-muted fs-7 fw-bold ps-3">{{
                                                                                    rating.total * 5 | number_format(1,
                                                                                    '.', ',') }}%</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-end pe-0">
                                                                        <a href="#"
                                                                            class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
                                                                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                                                                            <span class="svg-icon svg-icon-4">
                                                                                {% if rating.total > 10 |
                                                                                number_format(1, '.', ',') %}
                                                                                <i
                                                                                    class=" notemax fa fa-arrow-circle-up"></i>
                                                                                {% endif %}
                                                                                {% if rating.total < 10 |
                                                                                    number_format(1, '.' , ',' ) %} <i
                                                                                    class=" notemin fa fa-arrow-circle-down">
                                                                                    </i>
                                                                                    {% endif %}
                                                                            </span>
                                                                            <!--end::Svg Icon-->
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Tap pane-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Table Widget 1-->
                                </div>
                            </div>
                            <!--end::Row-->
                            <!--begin::Row-->
                            <div class="row g-0 g-xl-5 g-xxl-8 pr">
                                <div class="col-xl-4">
                                    <!--begin::Stats Widget 1-->
                                    <div class="card card-stretch mb-5 mb-xxl-8 ">
                                        <!--begin::Header-->
                                        <div class="card-header align-items-center border-0 mt-5">
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="fw-bolder text-dark fs-3">Pronostic</span>
                                                <span class="text-muted mt-2 fw-bold fs-6">Prétention au passage du
                                                    titre professionel</span>
                                            </h3>
                                        </div>
                                        <!--end::Header-->
                                        <!--begin::Body-->
                                        <div class="card-body pt-12">
                                            <!--begin::Chart-->
                                            <div class="d-flex flex-center position-relative bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-center h-175px"
                                                style="background-image:url('assets/media/svg/illustrations/bg-1.svg')">
                                                {% for data in stats.totalAverageAll %}
                                                <div class="fw-bolder fs-1 text-gray-800 position-absolute">{{
                                                    data.total * 5 | number_format(0, '.', ',') }}%</div>
                                                <canvas id="kt_stats_widget_1_chart"></canvas> {% endfor %}
                                            </div>
                                            <!--end::Chart-->
                                            <!--begin::Items-->
                                            <div class="d-flex justify-content-around pt-18">
                                                <!--begin::Item-->
                                                <div class="">
                                                    <span class="fw-bolder text-gray-800">Front end</span>
                                                    <span class="bg-success w-25px h-5px d-block rounded mt-1"></span>
                                                </div>
                                                <!--end::Item-->
                                                <!--begin::Item-->
                                                <div class="">
                                                    <span class="fw-bolder text-gray-800">Back end</span>
                                                    <span class="bg-primary w-25px h-5px d-block rounded mt-1"></span>
                                                </div>
                                                <!--end::Item-->
                                                <!--begin::Item-->
                                                <div class="">
                                                    <span class="fw-bolder text-gray-800">Culture</span>
                                                    <span class="bg-warning w-25px h-5px d-block rounded mt-1"></span>
                                                </div>
                                                <!--end::Item-->
                                            </div>
                                            <!--end::Items-->
                                        </div>
                                        <!--end: Card Body-->
                                    </div>
                                    <!--end::Stats Widget 1-->
                                </div>
                                <div class="col-xl-8">
                                    <!--begin::Stats Widget 2-->
                                    <div class="card card-stretch mb-5 mb-xxl-8 ">

                                        <!--begin::Header-->
                                        <div class="card-header align-items-center border-0 mt-5">
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="fw-bolder text-dark fs-3">Mon evolution</span>
                                                <span class="text-muted mt-2 fw-bold fs-6">Moyenne selon matiéres</span>
                                            </h3>
                                        </div>
                                        <!--end::Header-->
                                        <!--begin::Body-->
                                        <div class="card-body pt-0">
                                            <div
                                                class="d-flex flex-wrap flex-xxl-nowrap justify-content-center justify-content-md-start pt-4">
                                                <!--begin::Tab Content-->
                                                <div class="tab-content flex-grow-1">
                                                    <!--begin::Tab Pane 1-->
                                                    <div class="tab-pane fade show active"
                                                        id="kt_stats_widget_2_tab_1_content">
                                                        <!--begin::Content-->
                                                        <div class="d-flex justify-content-center mb-10">
                                                            <!--begin::Item-->
                                                            <div class="px-10">
                                                                <span class="menu-link px-3" data-bs-toggle="tooltip"
                                                                    title="Votre moyenne general"
                                                                    class="text-muted fw-bold fs-7">Moyenne
                                                                    general</span>
                                                                <span class="text-gray-800 fw-bolder fs-3 d-block">{%
                                                                    for data in stats.totalAverageAll %}{{ data.total |
                                                                    number_format(1, '.', ',') }}{% endfor %}</span>
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="px-10">
                                                                <span class="menu-link px-3" data-bs-toggle="tooltip"
                                                                    title="Moyenne general de la session"
                                                                    class="text-muted fw-bold fs-7">Moyenne
                                                                    session</span>
                                                                <span class="text-gray-800 fw-bolder fs-3 d-block">{%
                                                                    for data in stats.totalAverageAllByClassRoom %}{{
                                                                    data.total | number_format(1, '.', ',') }}{% endfor
                                                                    %}</span>
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="px-10">
                                                                <span class="menu-link px-3" data-bs-toggle="tooltip"
                                                                    title="Total des evaluations"
                                                                    class="text-muted fw-bold fs-7">Total
                                                                    evaluations</span>
                                                                <span class="text-gray-800 fw-bolder fs-3 d-block">{{
                                                                    stats.totalEval | length }}</span>
                                                            </div>
                                                            <!--end::Item-->
                                                        </div>
                                                        <!--end::Content-->
                                                        <!--begin::Chart-->
                                                        <div id="kt_stats_widget_2_chart_1" style="height: 250px"></div>
                                                        <!--end::Chart-->
                                                    </div>
                                                    <!--end::Tab Pane 1-->
                                                </div>
                                                <!--end::Tab Content-->
                                            </div>
                                        </div>
                                        <!--end: Card Body-->
                                    </div>
                                    <!--end::Stats Widget 2-->
                                </div>
                            </div>
                            <!--end::Row-->
                            <!--begin::Row-->
                            <div class="row g-0 g-xl-5 g-xxl-8">
                                <div class="col-xl-4">
                                    <!--begin::List Widget 1-->
                                    <div class="card card-stretch mb-5 mb-xxl-8">
                                        <!--begin::Header-->
                                        <div class="card-header align-items-center border-0 mt-5">
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="fw-bolder text-dark fs-3">Evaluations</span>
                                                <span class="text-muted mt-2 fw-bold fs-6">Evaluations et
                                                    remarques</span>
                                            </h3>
                                            <img class="mx-auto" style="width:250px;"
                                                src="{{asset('assets/media/illustrations/remark.png')}}" alt="">
                                        </div>
                                        <!--end::Header-->
                                        <!--begin::Body-->
                                        <div class="card-body pt-3">
                                            <!--begin::Timeline-->
                                            <div class="timeline-label">
                                                {% for rating in app.user.ratings %}
                                                <!--begin::Item-->
                                                <div class="timeline-item">
                                                    <!--begin::Label-->
                                                    <div class="timeline-label fw-bolder text-gray-800 fs-7">
                                                        {{rating.createdAt | date(' d/M')}}</div>
                                                    <!--end::Label-->
                                                    <!--begin::Badge-->
                                                    <div class="timeline-badge">
                                                        <i class="fa fa-genderless text-warning fs-1"></i>
                                                    </div>
                                                    <!--end::Badge-->
                                                    <!--begin::Text-->

                                                    <div class="menu-link px-3" data-bs-toggle="tooltip"
                                                        title=" {{rating.remark}}"
                                                        class="timeline-content fw-mormal text-muted ps-3">
                                                        {{rating.name}} </div><span
                                                        class="text-bold">{{rating.note}}/20</span>
                                                    <!--end::Text-->
                                                </div>
                                                <!--end::Item-->
                                                {% endfor %}
                                            </div>
                                            <!--end::Timeline-->
                                        </div>
                                        {% if app.user.ratings | length == 0 %}
                                        <span class=" mx-auto fw-bolder text-muted">Aucune evaluation disponible.</span>
                                        {% endif %}
                                        <!--end: Card Body-->
                                    </div>
                                    <!--end::List Widget 1-->
                                </div>
                                <div class="col-xl-8">
                                    <!--begin::Table Widget 2-->
                                    <div class="card card-stretch mb-5 mb-xxl-8">
                                        <!--begin::Header-->
                                        <div class="card-header border-0 pt-5">
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="card-label fw-bolder text-dark fs-3">Salle de
                                                    classe</span>
                                                <span class="text-muted mt-2 fw-bold fs-6">N° session:
                                                    {{app.user.session.name}}</span>
                                                <div class="btn-cours text-center pt-7">
                                                    <a href="#" class="btn btn-success fw-bolder fs-6 px-7 py-3 mb-2"
                                                        data-bs-toggle="modal" data-bs-target="#">Acces zoom</a>
                                                </div>
                                            </h3>
                                            
                                            <div class="card-toolbar">
                                                <ul class="nav nav-pills nav-pills-sm nav-light">
                                                    <li class="nav-item">
                                                        <a class="nav-link btn btn-active-light btn-color-muted py-2 px-4 active fw-bolder me-2"
                                                            data-bs-toggle="tab" href="#kt_tab_pane_2_1">Etudiant</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link btn btn-active-light btn-color-muted py-2 px-4 fw-bolder me-2"
                                                            data-bs-toggle="tab" href="#kt_tab_pane_2_2">Formateur</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link btn btn-active-light btn-color-muted py-2 px-4 fw-bolder"
                                                            data-bs-toggle="tab"
                                                            href="#kt_tab_pane_2_3">Administration</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--end::Header-->
                                        <!--begin::Body-->
                                        <div class="card-body pt-3 pb-0 mt-n3">
                                            <div class="tab-content mt-4" id="myTabTables2">
                                                <!--begin::Tap pane-->
                                                <div class="tab-pane fade show active" id="kt_tab_pane_2_1"
                                                    role="tabpanel" aria-labelledby="kt_tab_pane_2_1">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table id="example1"
                                                            class="table table-striped table-bordered text-nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th class="p-0 w-50px"></th>
                                                                    <th class="p-0 min-w-150px"></th>
                                                                    <th class="p-0 min-w-120px"></th>
                                                                    <th class="p-0 min-w-70px"></th>
                                                                    <th class="p-0 min-w-70px"></th>
                                                                    <th class="p-0 min-w-50px"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for user in students %}
                                                                <tr>
                                                                    <td class="px-0 py-3">
                                                                        <div class="symbol symbol-55px mt-1 me-5">
                                                                            <span
                                                                                class="symbol-label bg-light-primary align-items-end">
                                                                                {% if user.sexe == 0 %}
                                                                                <img alt="Logo"
                                                                                    src="assets/media/svg/avatars/011-boy-5.svg"
                                                                                    class="mh-40px" />
                                                                                {% elseif user.sexe == 1 %}
                                                                                <img alt="Logo"
                                                                                    src="assets/media/svg/avatars/003-girl-1.svg"
                                                                                    class="mh-40px" />
                                                                                {% endif %}
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                    <td class="px-0">
                                                                        <a href="#"
                                                                            class="text-gray-800 fw-bolder text-hover-primary fs-6">{{user.fullname}}</a>
                                                                        <span
                                                                            class="text-muted fw-bold d-block mt-1">{{user.role}}</span>
                                                                    </td>
                                                                    <td></td>
                                                                    <td class="text-end">
                                                                        <span
                                                                            class="text-gray-800 fw-bolder d-block fs-6">{{user.email}}</span>
                                                                        <span
                                                                            class="text-muted fw-bold d-block mt-1 fs-7">{{user.phone}}</span>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        {% if user.checking == 1 %}
                                                                        <span
                                                                            class="fw-bolder text-primary">Présent</span>
                                                                        {% endif %} {% if user.checking == 0 %}
                                                                        <span
                                                                            class="fw-bolder text-danger">Absent</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td class="text-end pe-0">
                                                                        <a href="#"
                                                                            class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
                                                                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                                                                            <span class="svg-icon svg-icon-4">
                                                                                <i class="fa fa-check"></i>
                                                                            </span>
                                                                            <!--end::Svg Icon-->
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Tap pane-->
                                                <!--begin::Tap pane-->
                                                <div class="tab-pane fade" id="kt_tab_pane_2_2" role="tabpanel"
                                                    aria-labelledby="kt_tab_pane_2_2">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table id="example2"
                                                            class="table table-striped table-bordered text-nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th class="p-0 w-50px"></th>
                                                                    <th class="p-0 min-w-150px"></th>
                                                                    <th class="p-0 min-w-120px"></th>
                                                                    <th class="p-0 min-w-70px"></th>
                                                                    <th class="p-0 min-w-70px"></th>
                                                                    <th class="p-0 min-w-50px"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for user in teachers %}
                                                                <tr>
                                                                    <td class="px-0 py-3">
                                                                        <div class="symbol symbol-55px mt-1 me-5">
                                                                            <span
                                                                                class="symbol-label bg-light-primary align-items-end">
                                                                                {% if user.sexe == 0 %}
                                                                                <img alt="Logo"
                                                                                    src="assets/media/svg/avatars/011-boy-5.svg"
                                                                                    class="mh-40px" />
                                                                                {% elseif user.sexe == 1 %}
                                                                                <img alt="Logo"
                                                                                    src="assets/media/svg/avatars/003-girl-1.svg"
                                                                                    class="mh-40px" />
                                                                                {% endif %}
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                    <td class="px-0">
                                                                        <a href="#"
                                                                            class="text-gray-800 fw-bolder text-hover-primary fs-6">{{user.fullname}}</a>
                                                                        <span
                                                                            class="text-muted fw-bold d-block mt-1">{{user.role}}</span>
                                                                    </td>
                                                                    <td></td>
                                                                    <td class="text-end">
                                                                        <span
                                                                            class="text-gray-800 fw-bolder d-block fs-6">{{user.email}}</span>
                                                                        <span
                                                                            class="text-muted fw-bold d-block mt-1 fs-7">{{user.phone}}</span>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        {% if user.checking == 1 %}
                                                                        <span
                                                                            class="fw-bolder text-primary">Présent</span>
                                                                        {% endif %} {% if user.checking == 0 %}
                                                                        <span
                                                                            class="fw-bolder text-danger">Absent</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td class="text-end pe-0">
                                                                        <a href="#"
                                                                            class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
                                                                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                                                                            <span class="svg-icon svg-icon-4">
                                                                                <i class="fa fa-check"></i>
                                                                            </span>
                                                                            <!--end::Svg Icon-->
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Tap pane-->
                                                <!--begin::Tap pane-->
                                                <div class="tab-pane fade" id="kt_tab_pane_2_3" role="tabpanel"
                                                    aria-labelledby="kt_tab_pane_2_3">
                                                    <!--begin::Table-->
                                                    <div class="table-responsive">
                                                        <table id="example4"
                                                            class="table table-striped table-bordered text-nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th class="p-0 w-50px"></th>
                                                                    <th class="p-0 min-w-150px"></th>
                                                                    <th class="p-0 min-w-120px"></th>
                                                                    <th class="p-0 min-w-70px"></th>
                                                                    <th class="p-0 min-w-70px"></th>
                                                                    <th class="p-0 min-w-50px"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for user in admins %}
                                                                <tr>
                                                                    <td class="px-0 py-3">
                                                                        <div class="symbol symbol-55px mt-1 me-5">
                                                                            <span
                                                                                class="symbol-label bg-light-primary align-items-end">
                                                                                {% if user.sexe == 0 %}
                                                                                <img alt="Logo"
                                                                                    src="assets/media/svg/avatars/011-boy-5.svg"
                                                                                    class="mh-40px" />
                                                                                {% elseif user.sexe == 1 %}
                                                                                <img alt="Logo"
                                                                                    src="assets/media/svg/avatars/003-girl-1.svg"
                                                                                    class="mh-40px" />
                                                                                {% endif %}
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                    <td class="px-0">
                                                                        <a href="#"
                                                                            class="text-gray-800 fw-bolder text-hover-primary fs-6">{{user.fullname}}</a>
                                                                        <span
                                                                            class="text-muted fw-bold d-block mt-1">{{user.role}}</span>
                                                                    </td>
                                                                    <td></td>
                                                                    <td class="text-end">
                                                                        <span
                                                                            class="text-gray-800 fw-bolder d-block fs-6">{{user.email}}</span>
                                                                        <span
                                                                            class="text-muted fw-bold d-block mt-1 fs-7">{{user.phone}}</span>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        {% if user.checking == 1 %}
                                                                        <span
                                                                            class="fw-bolder text-primary">Présent</span>
                                                                        {% endif %} {% if user.checking == 0 %}
                                                                        <span
                                                                            class="fw-bolder text-danger">Absent</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td class="text-end pe-0">
                                                                        <a href="#"
                                                                            class="btn btn-icon btn-bg-light btn-active-primary btn-sm">
                                                                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                                                                            <span class="svg-icon svg-icon-4">
                                                                                <i class="fa fa-check"></i>
                                                                            </span>
                                                                            <!--end::Svg Icon-->
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--end::Table-->
                                                </div>
                                                <!--end::Tap pane-->
                                            </div>
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Table Widget 2-->
                                </div>
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Main-->
                <!--begin::Footer-->
                <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
                    <!--begin::Container-->
                    <div class="container d-flex flex-column flex-md-row flex-stack">
                        <!--begin::Copyright-->
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted fw-bold me-2">2021©</span>
                            <a href="" target="_blank" class="text-gray-800 text-hover-primary">Unlock-technologies</a>
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Menu-->
                        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                            <li class="menu-item">
                                <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://keenthemes.com/support" target="_blank"
                                    class="menu-link px-2">Support</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://keenthemes.com/products/start-html-pro" target="_blank"
                                    class="menu-link px-2">Purchase</a>
                            </li>
                        </ul>
                        <!--end::Menu-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Sidebar-->
            {% if app.user.role == "Administrateur" %}
            {{ render(controller('App\\Controller\\AdministratorController::sideBar')) }}
            {% elseif app.user.role == "Formateur" %}
            {{ render(controller('App\\Controller\\TeacherController::sideBar')) }}
            {% elseif app.user.role == "Eleve" %}
            {{ render(controller('App\\Controller\\StudentController::sideBar')) }}
            {% endif %}
            <!--end::Sidebar-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
    {% include 'messenger/index.html.twig' %}
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <!--begin::Svg Icon | path: icons/duotone/Navigation/Up-2.svg-->
        <span class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <rect fill="#000000" opacity="0.5" x="11" y="10" width="2" height="10" rx="1" />
                    <path
                        d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
                        fill="#000000" fill-rule="nonzero" />
                </g>
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
</section>

{% endblock %}