{% extends 'base.html.twig' %}

{% block title %}
	Dashboard Professeur
{% endblock %}
{% set varStud = myStudents %}

{% block body %}

	{#
	<!--app-content open--> #}
	<div class="main-content app-content mt-0">
		<div
			class="side-app">

			{#
			        <!-- CONTAINER --> #}
			<div
				class="main-container container-fluid">

				{# Header #}
				<div class="page-header">
					<h1 class="page-title">Professeur</h1>
				</div>
				{# Fin header #}
				{% block teacher %}

				{# Tableaux et modal #}
				<!-- ROW OPEN -->
								<div class="row">
									<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
										<a class="card bg-primary img-card box-primary-shadow">
											{% embed "components/modal.html.twig" %}
															{% set modalType = "modal-xl effect-flip-verticalshow" %}
															{% set id = "xl-myStudent" %}
															{% set buttonTitle = "Ajouter un utilisateur" %}
															{% block button %}
															<button class="card-body text-start" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" data-bs-target="#{{id}}">
																<div class="d-flex">
																	<div class="text-white me-4">
																		<h2 class="mb-0 number-font">{{ varStud | length }}</h2>
																		<p class="text-white mb-0">Mes étudiants</p>
																	</div>
																	
																	<div class="ms-auto"> <i class="fa fa-user-o text-white fs-30 me-2 mt-2"></i> </div>
																</div>
															</button>
															{% endblock %}
															{% block modalTitle %}Tous les étudiants
															{% endblock %}
															{% block dashboard %}
																{% include "/administration/admin/view/view_students.html.twig" %}
															{% endblock %}
														{% endembed %}
											
										</a>
									</div>
									<!-- COL END -->
									<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
										<a class="card bg-azure img-card box-azure-shadow">
											{% embed "components/modal.html.twig" %}
															{% set modalType = "modal-sm" %}
															{% set id = "mySession" %}
															{% block button %}
															<button class="card-body text-start" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" data-bs-target="#{{id}}">
																<div class="d-flex">
																	<div class="text-white">
																	{% if app.user.session %}
																		<h2 class="mb-0 number-font">{{ app.user.session}}</h2>
																		{% else %}
																			<h2 class="mb-0 number-font">Aucune session</h2>
																		{% endif %}
																		<p class="text-white mb-0">Session</p>
																	</div>
																	<div class="ms-auto"> <i class="fa fa-tags text-white fs-30 me-2 mt-2"></i> </div>
																</div>
															</button>
															{% endblock %}
															{% block modalTitle %}Session
															{% endblock %}
															{% block dashboard %}
																<p>Bonjour {{app.user.fullname}} 
																{% if app.user.session %}
																vous avez une session du <strong>{{ app.user.session.startSession | date("d/m/Y") }}</strong> au <strong>{{ app.user.session.endSession | date("d/m/Y") }}</strong> avec <strong>{{varStud | length }}</strong> étudiants
																{% else %}
																	vous n'avez aucune session en cours
																{% endif %}</p>
															{% endblock
                        %}
														{% endembed %}
											
										</a>
									</div>
									<!-- COL END -->
									<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
										<div class="card bg-success img-card box-success-shadow">
										
															<div class="card-body">
																<div class="d-flex">
																	<div class="text-white">
																	{% if app.user.payment %}
																	
																		<h2 class="mb-0 number-font text-start">{{app.user.payment}} / jour</h2>
																		{% else %}
																		<h2 class="mb-0 number-font text-start">0 / jour</h2>
																		{% endif %}
																			
																		<p class="text-white mb-0">Rémunération</p>
																	</div>
																	<div class="ms-auto"> <i class="fa fa-dollar text-white fs-30 me-2 mt-2"></i> </div>
																</div>
															</div>
															
											
										</div>
									</div>
									{# <!-- COL END --> #}
								
								</div>
								{# <!-- ROW CLOSED --> #}
								{# Fin tableaux et modal #}
					
					
				{% endblock %}
			</div>
		</div>
	</div>

{% endblock %}
